{  
   "apiEndPointDomain": "URI-OF-PLEX-API-ENDPOINT-DOMAIN-SUCH-AS-https://plexconnect.azure-api.net/",
   "clientId": "YOUR-APPLICATION-ID-FROM-PLEX",
   "clientSecrets": [  
      {  
         "clientSecret": "ONE-SECRET-FROM-PLEX-THAT-YOU-TREAT-AS-A-PASSWORD",
         "expiry": "YYYY-MM-DDT00:00:00Z"
      },
       {  
         "clientSecret": "AT-LEAST-ONE-OTHER-SECRET-FROM-PLEX-THAT-YOU-TREAT-AS-A-PASSWORD",
         "expiry": "YYYY-MM-DDT00:00:00Z"
      }
   ],
   "plexResource": "URI-OF-PLEX-RESOURCE-SUCH-AS-http://api.plex.com/",
   "subscriptionKey": "OBTAINED-FROM-DEVELOPER-PORTAL",
   "tokenEndPoint": "URI-OF-PLEX-TOKEN-ENDPOINT-SUCH-AS-https://plexconnect.azure-api.net/oauth2/v1/token"
}