@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>Phone</h3>
    </header>
    <p>
        <span class="label">Main:</span>
        <span>248.391.8000</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Support:</span>
        <span><a href="mailto:PlexConnectAdmin@plex.com">PlexConnectAdmin@plex.com</a></span>
    </p>
    <header>
        <h3>Web</h3>
    </header>
    <p>
        <span class="label">Web Site:</span>
        <span><a href="http://www.plex.com/products/plex-saas-manufacturing-platform/erp-system-integration.html">Plex Connect: ERP System Integration</a></span>
    </p>
    <p>
        <span class="label">Creating with ASP.Net MVC4:</span>
        <span><a href="http://www.asp.net/mvc/mvc4">ASP.Net MVC4</a></span>
    </p>

</section>