@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                This sample is an example of <mark>how to consume the Plex RPC over JSON API</mark> using ADAL and <a href="http://restsharp.org/" target="_blank">RestSharp</a>.
            </p>
        </div>
    </section>
}
<h3>Additional Details:</h3>
<ol class="round">
    <li class="one">
        <h5>ASP.NET MVC 4</h5>
        THis Web application was built in Visual Studio 2012 using <mark>ASP.NET MVC 4</mark>, a framework for building scalable, standards-based web applications using well-established design patterns and the power
of ASP.NET and the .NET Framework.
        <a href="http://www.asp.net/mvc/mvc4" title="ASP.NET MVC 4"  target="_blank">Learn more…</a>
    </li>

    <li class="two">
        <h5>Azure AD Authentication Library for .NET</h5>
        For <mark>token Acquisition</mark>, ADAL for .NET facilitates the process of acquiring tokens from Azure AD by using a variety of identity providers, protocols, and credential types. ADAL can manage the entire token acquisition process in just a few lines of code, including application authentication and a silent client-side token cache. You can provide raw application credentials that represent your application and ADAL will manage obtaining a token for you.
        <a href="https://msdn.microsoft.com/en-us/library/azure/jj573266.aspx?f=255&MSPPError=-2147217396" title="ADAL for .NET"  target="_blank">Check here...</a>
    </li>

    <li class="three">
        <h5>Plex Connect: ERP System Integration</h5>
        This uses technology that is part of the <mark>Plex Connect</mark> suite of ERP System Integration tools. Plex Connect is an open ERP system integration framework that enables manufacturers to connect Plex with other applications, people and things.
        <a href="http://www.plex.com/products/plex-saas-manufacturing-platform/erp-system-integration.html" title="Plex Connect: ERP System Integration"  target="_blank">More info...</a>
    </li>
    <li class="four">
        <h5>Source code</h5>
        You can download and offer to contribute to the complete source. <a href="https://github.com/PlexConnectAdmin/Connect-RPC-over-JSON-MVC4" title="Download source code" target="_blank">Download</a>
    </li>
</ol>
